
*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body {
    background-color: rgb(247, 234, 255);
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.parent-grid {
    height: 90vh;
    width: 40vw;
    position: relative;
    margin: 5vh auto;
    display: grid;
    grid-template-rows: 10fr 10fr 10fr 10fr 10fr 10fr;
    grid-template-columns: 100fr;
    background-color: rgb(255, 255, 255); 
    border-radius: 10px;
    
}
#header {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    background-color: rgb(248, 248, 248);
    height: 100%;
    width: 100%;
}
#header h2 {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
}
form label {
    font-weight: bold;
}
.grid-form-item-position {
    width: 70%;
    height: 100%;
    text-align: left;
    margin: auto;
    position: relative;
    /* left: 5%; */
    overflow: visible;
}
.input-style {
    width: 90%;
    height: 30%;
    border: 2px solid rgb(155, 155, 155);
    border-radius: 4px;
    position: relative;
    left: 5%;
}

#username-grid-item-parent {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    margin: 5% auto auto auto;
}
/* #username {
    height: 33%;
} */
#email-grid-item-parent {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}
#password-grid-item-parent {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
}
#confirm-grid-item-parent {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
    
}
#button-grid-item-parent {
    grid-row: 6 / 7;
    grid-column: 1 / 2;
    width: 80%;
    height: 100%;
    margin: auto;
    
}
#submit-button {
    background-color: rgb(44, 207, 248);
    border-radius: 6px;
    width: 100%;
    height: 30%;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    line-height: 200%; 
    
}

.grid-form-item-position-success {
    border: 3px solid rgb(170, 255, 196);
}
.grid-form-item-position-error {
    border: 3px solid rgb(247, 54, 54);
}
.hidingToggle {
    visibility: hidden;
}

.parent-grid .error-message {
    visibility: hidden;
}
.fa-check-circle{
    position: absolute;
    color: rgb(183, 255, 183);
    margin: auto;
    top: 20%;
    right: -5%;

}
.fa-exclamation-circle {
    position: absolute;
    
    /* top: 40px;
    right: auto; */
    color: rgb(247, 54, 54);
    margin: auto;
    top: 20%;
    right: -5%;
    
}
.messageFormat {
    color: rgb(247, 54, 54);
}

.togglePasswordCheckbox {
    position: relative;
    right: -18%;
    border: none;
    background-color: white;
}
